p {
  margin-bottom: 0;
}
.inline-block {
  display: inline-block;
}

.no-footer-modal .ant-modal-footer {
  display: none;
}
.modal-action {
  margin-top: 2em;
  border-top: 0.5px solid #a5a5a5;
  padding-top: 1em;
  text-align: center;
}
.btn-round {
  height: 32px;
  padding: 0 16px;
  font-size: 16px;
  border-radius: 32px;
}
.btn-circle {
  min-width: 100px;
  border-radius: 30px;
}
.btn {
  font-weight: bold;
}
.btn-success {
  border: 2px solid #60f74c;
  color: #5a5a5a;
}
.btn-success:hover {
  border: none;
  color: #eeeeee;
  background: #60f74c;
  font-weight: bold;
}
.text-center {
  text-align: center !important;
}
.no-padding {
  padding: 0 !important;
}
.round-button {
  border-radius: 20px !important;
}

/* Layout */
.layout-header {
  position: fixed;
  z-index: 3;
  width: 100%;
  min-width: 1000px;
  background: #fff;
  /* background: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/GfRLKaE/videoblocks-abstract-polygonal-space-low-poly-dark-background_b3eahq7rl_thumbnail-full01.png"); */
  background-repeat: no-repeat;
  background-size: auto;
}

.layout-content .fixed-nav {
  margin-top: 64px;
  position: fixed;
  height: 50px;
  z-index: 2;
  width: 100%;
  background: #c0dfd9;
  /* border-top: 0.5px solid #9ab9b3; */
  border-bottom: 0;
  -webkit-box-shadow: 0px 1px 14px 0px rgba(31, 31, 31, 1);
  -moz-box-shadow: 0px 1px 14px 0px rgba(31, 31, 31, 1);
  box-shadow: 0px 1px 14px 0px rgba(31, 31, 31, 1);
}
.layout-content .fixed-nav > li > a,
.layout-content .fixed-nav > li > a > i {
  color: #111 !important;
  font-size: 16px !important;
  font-weight: bold;
}
/* .ant-layout.ant-layout-has-sider {
  min-height: 650px;
} */
.ant-layout-content {
  background: #fff;
}
.layout-main-content {
  margin-top: 114px;
}
.left-menu {
  position: fixed;
  background: #c0dfd9;
  z-index: 1;
  -webkit-box-shadow: 0px 1px 14px 0px rgba(31, 31, 31, 1);
  -moz-box-shadow: 0px 1px 14px 0px rgba(31, 31, 31, 1);
  box-shadow: 0px 1px 14px 0px rgba(31, 31, 31, 1);
}
.left-menu a i {
  font-size: 18px !important;
  color: #474747;
}
.left-menu > .ant-menu-item-selected {
  background-color: #40a9ff !important;
}
.left-menu > .ant-menu-item-selected a i {
  color: #fffcff;
}
.ant-layout-footer {
  background: #c1fbff;
}
.ant-comment-actions {
  padding: 0;
}
.menu-item-notification {
  float: right;
}

.company-menu .ant-layout-sider-children {
  width: 250px;
  position: fixed;
  border-right: 1px solid #a5a5a5;
  background: #f0f1f5;
}
.report-menu {
  width: 300px;
  position: fixed;
  height: 100vh;
  overflow-y: scroll;
  border-right: 1px solid #a5a5a5;
  background: #f0f1f5;
}
/* .ck.ck-toolbar {
  border-radius: 4px 4px 0 0 !important;
}
.ck.ck-content {
  min-height: 200px;
  border: #ececec 1px solid;
  transition: border-color 0.5s;
  border-radius: 0 0 4px 4px !important;
}
.ck.ck-content:focus {
  border-color: #20e75c !important;
} */
.jodit_toolbar {
  border-radius: 20px 20px 0 0;
  padding: 5px !important;
}
.jodit_toolbar_btn {
  border-radius: 50%;
}
.jodit_statusbar {
  border-radius: 0 0 20px 20px;
  padding: 5px 10px;
}
.composeActionButton {
  font-size: 18px;
  border: none;
}
.composeActionButton:hover {
  color: black;
  background: #ececec;
}
.table-operations {
  margin-bottom: 16px;
}

.table-operations > button {
  margin-right: 8px;
}

.filter-zone {
  padding-bottom: 1em;
}
.report-list .report-item {
  border-bottom: 0.5px solid #a5a5a5;
  min-height: 70px;
  line-height: 20px !important;

  margin: 0 !important;
  padding-top: 5px;
}
.report-list .sub-report-item {
  min-height: 55px;
  line-height: 20px !important;
  margin: 0 !important;
  padding-top: 5px;
}
/* .report-list .ant-menu-submenu-selected .ant-menu-submenu-title {
  background: #e6f7ff;
} */

.report-list .ant-menu-submenu .ant-menu-submenu-title {
  height: unset;
  min-height: 70px;
  margin: 0 !important;
}
.report-list .sub-menu-item {
  line-height: 20px;
  padding-top: 5px;
}
.report-item {
  padding-left: 1em;
}
.report-item.active {
  background: rgba(94, 98, 111, 0.22);
}

.report-item .ant-list-item-meta,
.report-item .ant-list-item-meta-title,
.report-item .ant-list-item-content {
  margin-bottom: 0 !important;
}

.ant-list {
  border-right: 1px solid #e8e8e8;
}
/* 
.collapsed-menu > .ant-menu-item {
  padding: 0 !important;
  text-align: center;
} */

/* .first-item {
  margin: 0 !important;
} */

.custom-badge.ant-badge {
  margin-bottom: 5px;
}
.custom-badge > .ant-scroll-number.ant-badge-count {
  font-size: 10px;
  margin-left: 5px;
}
.form-drawer .ant-drawer-header {
  border-radius: 0;
}
.form-drawer.compose .ant-drawer-header {
  background: #1890ff;
}
.form-drawer .ant-drawer-header .ant-drawer-title,
.form-drawer .ant-drawer-close {
  color: #fff;
}
.form-drawer.reply .ant-drawer-header {
  background: #12c2e9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.form-drawer.reply .ant-drawer-header .ant-drawer-title {
  color: #313131;
}
.form-drawer.reply .ant-drawer-close-x {
  color: #313131;
}
.compose-form {
  margin-bottom: 3em;
}
.compose-form .ant-input {
  min-height: 40px;
  border-radius: 20px !important;
}
.compose-form .ant-select-selection__rendered {
  margin-top: 4px;
  margin-left: 8px;
}
.compose-form .ant-select-selection {
  min-height: 40px;
  border-radius: 20px;
}

.compose-form input::placeholder,
.compose-form .ant-select-selection__placeholder {
  color: #494949;
}

.compose-form .ant-select-selection--single {
  padding-left: 8px;
}
/* .email-input .ant-select-search {
  margin-left: 5px;
} */
.email-input .ant-select-selection__choice {
  border-radius: 20px;
}
.anticon::before {
  display: block;
  font-family: "anticon" !important;
}
.RichEditor-root {
  border-radius: 20px;
}

/* Search */
.search-global .ant-input {
  border-radius: 20px;
}

.search-global .ant-input-suffix .ant-btn {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  padding: 0;
  margin-right: 5px;
}

/* Input */

.ant-input-suffix .ant-btn {
  height: 25px;
  border-radius: 20px !important;
  margin-right: 4px;
}

.ant-input .round,
.ant-btn .round,
.ant-select-selection .round {
  border-radius: 20px;
}

/* Table */
.table-bordered td,
.table-bordered tr {
  border: 1px grey solid;
}

/* Admin Interface */
.admin-body {
  margin-top: 68px;
}

.report-list .email,
.report-list .title {
  color: #1f1f1f;
}

.report-list .shortContent {
  color: #5f6368;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.report-list .unread .email,
.report-list .unread .title {
  font-weight: bold;
}
.report-alert {
  /* padding: 1em; */
  /* font-size: 20px; */
  /* background: #1890ff; */
  /* color: #fff; */
}

.collapsible {
  display: none;
  transition: display 4s;
}

.collapsible.open {
  display: block;
}

/* Report Group */
.report-group {
  margin-left: 300px;
  min-width: 400px;
  background: #fffcff;
}
.report-group .report {
  padding: 0;
  list-style-type: none;
}

.group-item {
  border-bottom: 1px solid #dddddd;
}

.report-item {
  width: 100%;
}

.item-header {
  padding: 1em 1em 1em 0;
  cursor: pointer;
  user-select: none;
}
.item-header .short-content {
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}
.item-header .avatar {
  padding: 0 1em;
  height: 40px;
  text-align: center;
}
.item-header .avatar .ant-avatar {
  margin: auto;
  margin-top: 5px;
}

.item-header .name {
  font-weight: bold;
}

.item-header .short-content {
  color: #8a8a8a;
}

.item-header .item-header-info {
  text-align: right;
  margin-top: 7px;
}

.item-header .item-header-info .time {
  margin-right: 1em;
}

.item-content {
  padding: 0 1em 1em 0;
}
.toEmails span {
  padding-left: 5px;
}

.project-detail-modal {
  width: 80% !important;
}
.department-zone {
  background: #d4d4d4;
  padding: 5px 0;
  margin: 1em;
  line-height: 20px;
  border-radius: 5px;
}
.department-zone .link {
  padding: 5px 15px;
  color: #494949;
  font-weight: bold;
  cursor: pointer;
}

.department-zone .link:hover {
  background: #494949;
  color: #fffcff;
}

.link-type {
  cursor: pointer;
  color: #494949;
  font-weight: bold;
}

.link-type:hover {
  color: #ee1935;
}

.department-list {
  border-radius: 5px;
  padding: 8px 15px;
  background: #d4d4d4;
}
